#group_custom_main {
  font-family: 'Open Sans', sans-serif; 
  margin-top: 70px;
}

#group_custom_table {
  width:700px;
  border-collapse: collapse;
  table-layout: fixed;
}

#group_custom_table thead td{                                                                                   
  text-align: center;                                                                                        
  height: 42px;                                                                                              
  border: 2px solid #ddd;                                                                                    
  font-weight: bold;                                                                                         
  background: #eee;                                                                                          
}  

#group_custom_table thead td.right{ 
  height: 42px;                                                                                              
  border: 0;                                                                                    
  background: #fff;                                                                                          
}

#own_head {                                                                                                  
  width: 220px;                                                                                                
}                                                                                                            
#other_head {                                                                                                
  width: 220px;                                                                                                
}                                                                                                            
#edit_head {                                                                                                 
  width:260px;
}                                                                                                            

#group_custom_table tbody td{                                                                                   
  vertical-align: top;                                                                                       
  border: 2px solid #ddd;                                                                                    
  height: 180px;                                                                                             
  overflow-y: hidden;                                                                                        
  white-space: nowrap;                                                                                       
}  

#group_custom_table tbody td.right{ 
  vertical-align: top;                                                                                       
  border: 0;                                                                                    
  height: 180px;                                                                                             
  overflow-y: hidden;                                                                                        
  white-space: nowrap;                                                                                       
} 

#group_custom_table tr:hover {
  background: #fff;
}

#group_custom_table tr .action {
  opacity: 1;
}

#group_custom_holder {
  display:none;
}

.groupinput {
  width: 80%;
  border: none;
  padding: 5px;
  margin-left:0px;
}


#group_custom_main li {
  padding: 5px 0 0 15px;
  overflow: hidden;
  position: relative;
}

.group_left li {
  height: 33px; 
  line-height: 33px;
}

.group_left li:hover {
  background: #eee;
}

.group_left li:hover .action {
  display: inline;;
}


.group_right li {
  height: 24px; 
  line-height: 24px;
}

.add {
  color: #bbb;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

.add:hover {
  background: #eee;
}

span.group-actions {
  position: absolute;
  right: 0;
}

span.member-actions {
  position: absolute;
  right: 0;
}

span.group-actions > a.action {
  padding-right: 5px;
  margin-left: 5px;
  display: none;
}

#group_custom_main div.scrollable {                                                                                             
  width: 100%;                                                                                               
  height: 148px;                                                                                             
  overflow-y: auto;                                                                                          
  overflow-x: hidden;                                                                                        
  white-space: nowrap;                                                                                       
}                                                                                                            

#group_custom_main div.scrollable2 {                                                                                            
  width: 100%;                                                                                               
  height: 180px;                                                                                             
  overflow-y: auto;                                                                                          
  overflow-x: hidden;                                                                                        
  white-space: nowrap;                                                                                       
}  


div#group_right {
  margin-top:-32px;
  margin-left: 20px;
}








#group_buttons {
  margin-top: 40px;
}








#mkgroup_li {
  display: none;
}





#group_custom_main i.fa {
  color: #9aCD32; 
}

#group_custom_main i.fa-times {
  color: #bbb; 
}

#group_custom_main i.fa-cloud-download {
  color: #bbb; 
}

#group_custom_main i.fa-users {
  margin-right: 10px;
}

#group_right i.fa-users {
  font-size: x-large;
}

#group_right i.fa-user {
  margin-right: 10px;
}




div.title-group {
  margin-bottom: 20px;
  font-size: large;
}







