table th .columntitle {
		display: inline-block !important;
}

li
{
  list-style-type: none;
}

.newgroupform {
	margin-left:20px; 
	margin-bottom:20px; 
	position:absolute
}


.normaltext {
	font-size:80%
} 

.ownertext {
	position:relative; 
	font-size:80%; 
	color:#FF8C00;
	padding-left: 12px;
} 

#spanaction {
	display:inline-block; 
	position:relative; 
	padding-top:4px; 
	float:right
} 

#create {
	z-index: 1;
}

.apanel {
	width:100%;
	border:solid 1px #e4e4e4;
	margin-bottom:20px;
	height:55px; 
	display:none
}

.spanpanel {
	padding-bottom:3px;
	margin-left: 30px;
	line-height:50px;
}

.newimportform {
	float:right;
}

#import_group_form {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
#import_group_file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
table  td.groupname span.name span.nametext {font-weight:bold; }

table td.filename input.filename {
	width: 70%;
	margin-top: 1px;
	margin-left: 48px;
	cursor: text;
}

table td.groupname .nametext {
        /*position: absolute;*/
        left: 68px;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 800px;
        height: 100%;
}

table td.groupname a:hover {
	text-decoration: none;
}

#actionbtnBrowse, #actionbtnSave {
    margin:0 !important;
    width:60px;
}

#groupstable {
	position: relative;
	top: -1px;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
	z-index: 1px;
}

#members {
		text-align: center;
}

#memberships {
	text-align: center;
}

.itext {
	font-weight:bold;
	font-size:120%;
	padding-left:4px; 
	padding-top:3px;
}

input.editgroup {
	line-height: 1.5;
	padding: 2px 0px 4px 5px;
	margin-top:10px;
	position: relative;
	width: 400px;
}


#dropdownmembers {
	background:#fff;
        box-shadow:-1px 1px 1px #777;
	overflow:scroll;
	display:block;
        position:relative;
	height:250px;
        font-size: 12px;
        top:-8px;
        width:39%;
	float:right;
}


.border {
		border-style: solid;
		border-width: 2px;
		border-color: #444;
}


.avatar {
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
	border-radius: 25px;
}

.avatar img {
	border-radius: 25px;
}

.newgroup-span {
	float: right;
	margin-right: 10px;
	line-height: 50px;
}


.modalOverlay {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

table.hidden {
		display: none;
}

table.visible {
		display: inline;
}


a.action > img {
		max-height: 16px;
		max-width: 16px;
		vertical-align: text-bottom;
}

div.scrollable {
		width: 100%;
		height: 348px;
		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
}

div.scrollable2 {
		width: 100%;
		height: 380px;
		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
}

div.scrollable::-webkit-scrollbar {
		width: 12px;
}

.oc-dialog-title, .memberscount, .owner {
	padding: 10px 3px 10px 0;
}

.dropmembers li {
	width:80%;
	margin: 0 auto;
}

.invitemembers {
	position:absolute;
	bottom:50px;
	left:40px;
}

.userselect {
	width:80%;
	padding-left:0;
	margin: 32px auto 0 auto;
	display:none;
}

.filelink-wrap {
	padding-left:4px;
}

.icon-trash-empty {
	text-decoration:none;
	color:#c5c5c5;
	font-size:16px;
	background-image:none;
}

td.groupname {
	height:34px;
}

table#groupstable th .columntitle.name {
    margin: 0;
    padding: 15px 43px;
}

.groupname .icon-users {
	margin-left: 10px;
	margin-right: 6px;
}

.oc-dialog .grouptitle {
	margin-bottom: 12px;
	text-left;
	font-size:110%;
	width: 90%;
	font-weight:bold;
}

.oc-dialog .oc-dialog-close {
    height: 10px;
    right: 0;
    top: 0;
    width: 10px;
}

.oc-dialog .group_pending {
	color:#CDDC39;
	font-weight:bold;
	font-size:80%;
}

.group_declined {
	color:#F44336;
	font-weight:bold;
	font-size:80%;
}

.oc-dialog .icon-cancel-circled {
	color:#006b93;
	display:inline;
}

.oc-dialog .group_status {
	padding-left: 12px;
}

.dropmembers li {
	padding-bottom: 12px;
}
