table th .columntitle {
		display: inline-block !important;
}

li
{
  list-style-type: none;
}

.newgroupform {
	margin-left:20px; 
	margin-bottom:20px; 
	position:absolute
}


.normaltext {
	font-size:80%;
	margin-left: 4px;
} 

.boldtext {
	font-size:92%;
	font-weight:bold; 
} 
.ownertext {
	position:relative; 
	font-size:80%; 
	color:#FF8C00;
	padding-left: 12px;
} 

#spanaction {
	display:inline-block; 
	position:relative; 
	padding-top:4px; 
	float:right
} 

#create {
	z-index: 1;
}

#join {
	z-index: 1;
	float: left;
	margin-left: 16px;
	margin-right: 4px;
}

#join i.icon-users {
	margin-right: 0.36em;
}

.apanel {
	width:100%;
	border:solid 1px #e4e4e4;
	margin-bottom:20px;
	height:55px; 
	display:none
}

.spanpanel {
	padding-bottom:3px;
	margin-left: 30px;
	line-height:50px;
}

.newimportform {
	float:right;
}

#import_group_form {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
#import_group_file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
table  td.groupname span.name span.nametext {font-weight:bold; }

table td.filename input.filename {
	width: 70%;
	margin-top: 1px;
	margin-left: 48px;
	cursor: text;
}

table td.groupname .nametext {
        /*position: absolute;*/
        left: 68px;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 800px;
        height: 100%;
}

table td.groupname a:hover {
	text-decoration: none;
}

#actionbtnBrowse, #actionbtnSave {
    margin:0 !important;
    width:60px;
}

#groupstable {
	position: relative;
	top: -1px;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
	z-index: 1px;
}

#members {
		text-align: center;
}

.itext {
	font-weight:bold;
	font-size:120%;
	padding-left:4px; 
	padding-top:3px;
}

input.editgroup {
	line-height: 1.5;
	padding: 2px 0px 4px 5px;
	margin-top:10px;
	position: relative;
	width: 400px;
}

.border {
		border-style: solid;
		border-width: 2px;
		border-color: #444;
}


.avatar {
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
	border-radius: 25px;
}

.avatar img {
	border-radius: 25px;
}

.newgroup-span {
	float: right;
	margin-right: 10px;
	line-height: 50px;
}

table.hidden {
		display: none;
}

table.visible {
		display: inline;
}


a.action > img {
		max-height: 16px;
		max-width: 16px;
		vertical-align: text-bottom;
}

.oc-dialog-title, .info {
	padding: 10px 3px 10px 0;
}

.dropmembers li {
	width:80%;
	margin: 0 auto;
}

.dropmembers  {
	margin-bottom: 24px;
}

.invitemembers {
	margin-left: 66px;
}

.userselect {
    display: none;
    margin: 4px auto 10px 0;
    padding-left: 0;
    width: 70%;
}

.oc-dialog .emailaddresses input {
    width: 70%;
}

.emailaddresses {
    display: none;
    margin: 4px auto 10px 0;
    padding-left: 0;
    width: 100%;
}s

.filelink-wrap {
	padding-left:4px;
}

.icon-trash-empty {
	text-decoration:none;
	color:#c5c5c5;
	font-size:16px;
	background-image:none;
}

td.groupname {
	height:34px;
}

table#groupstable th .columntitle.name {
    margin: 0;
    padding: 15px 43px;
}

.groupname .icon-users {
	margin-left: 10px;
	margin-right: 6px;
}

.oc-dialog .grouptitle {
	margin-bottom: 12px;
	margin-top: 8px;
	text-left;
	font-size:128%;
	width: 90%;
	font-weight:bold;
}

.oc-dialog .oc-dialog-close {
    height: 10px;
    right: 12px;
    top: 11px;
    width: 10px;
}

.oc-dialog .group_pending {
	color:#CDDC39;
	font-weight:bold;
	font-size:80%;
}

.group_declined {
	color:#F44336;
	font-weight:bold;
	font-size:80%;
}

.oc-dialog .icon-cancel-circled {
	color:#006b93;
	display:inline;
}

.oc-dialog .group_status {
	padding-left: 12px;
}

.dropmembers li {
	padding-bottom: 12px;
}

.memberlist {
	margin-bottom: 24px;
}

.freequota {
	float: right;
	margin-right: 67px;
}

#invite-guests {
	float: right;
	margin-right: 67px;
}

textarea.description {
	width: 96%;
	margin-top: 6px;
}

form#external_signup input[type=text], form#external_signup input[type=password] {
	width: 240px;
}

form#external_signup textarea {
	width: 240px;
	height: 80px;
}

form#external_signup input[type="text"].highlight,
form#external_signup input[type="password"].highlight,
form#external_signup textarea.highlight {
	border: 2px solid #9ecaed;
	border-radius: 7px;
	border-width: 2px 2px;
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

a#revokeinvitation {
	margin-right: 44px;
}

.signup div.verify_info {
	margin-top: 24px;
}

#show_owned {
	margin-top: 14px;
}

#show_owned_group_folders {
	margin-bottom: 4px;
}

