table th .columntitle {
		display: inline-block !important;
}

/* Commented out by Christian (4/3-2015) 
span.tagtext {
		line-height: 1.5;
		height: 33px;
		padding: 5px 0 8px 0;
		display: inline-block;
}
*/
li
{
  list-style-type: none;
}

table  td.groupsname span.name span.nametext {font-weight:bold; }
table td.filename input.filename {
	width: 70%;
	margin-top: 1px;
	margin-left: 48px;
	cursor: text;
}
table td.groupsname .nametext {
        position: absolute;
        left: 40px;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 800px;
        height: 100%;
}


#actionbtnBrowse, #actionbtnSave {
    margin:0 !important;
    width:60px;
}

#groupstable {
	position: relative;
	top: -10px;
	width: 60%;
	z-index: 1000px;
}

#members {
		text-align: center;
}

#memberships {
	text-align: center;
}

.groupname {
	text-align:center;
	font-size:120%;
}

.itext {
	font-weight:bold;
	font-size:120%;
	padding-left:4px; 
	padding-top:3px;
}

input.edittag {
		line-height: 1.5;
		padding: 2px 0px 4px 5px;;
		position: relative;
		top: -5px;

}

#dropdownmembers {
	background:#fff;
        box-shadow:-1px 1px 1px #777;
	overflow:scroll;
	display:block;
        position:relative;
	height:250px;
        font-size: 12px;
        top:-8px;
        width:39%;
        z-index:-1;
	float:right;
}

.left {
	float:left;
	padding-left:2px;
}

.border {
		border-style: solid;
		border-width: 2px;
		border-color: #444;
}







#meta_data_tags_container {
		float: left;
		width: 220px;
}

table.hidden {
		display: none;
}

table.visible {
		display: inline;
}


a.action > img {
		max-height: 16px;
		max-width: 16px;
		vertical-align: text-bottom;
}




div.scrollable {
		width: 100%;
		height: 348px;
		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
}

div.scrollable2 {
		width: 100%;
		height: 380px;
		overflow-y: auto;
		overflow-x: hidden;
		white-space: nowrap;
}

div.scrollable::-webkit-scrollbar{
		width: 12px;
}



div#emptysearch {
		font-size: x-large;
		color: #ddd;
		text-align: center;
		margin-top: 40px;
		margin-bottom: 20px;
}


#addNewTag #test {
		display: none;
		position:fixed;
		opacity: .9;
		width: 160px;
		z-index: 10;
		padding: .5em;
		padding-bottom: 0;
		text-align:left;
		background: #555;
		border: 1px solid #444;
		border-radius: 5px;
		box-shadow:0 2px 7px rgba(170,170,170,.4);
}


#addNewTag ul>li#newTag { 
		padding: 0 0 0 0;
}

#addNewTag span {
		cursor: pointer;
}

#addNewTag ul>li>input { 
		margin: 0;
		padding: 3px;
		width: 95%;
		align: center;
}

#addNewTag li:hover {
		background: #555;
}



