#group_left {
  float: left;
  width: 500px;
  overflow: hidden;
}

#owngroups {
  width: 200px;
  float: left;
  padding: 2px;
}

#create_group {
  color: #ddd;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

#othergroups {
  float: left;
  padding: 2px;
}


#group_right {
  margin-top: 60px;
  width: 200px;
  overflow: hidden;
}

#titlebar {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 42px;
  border: 2px solid #ddd;
  font-weight: bold;
  background: #eee;
  vertical-align: middle;
  display: table-cell;
  width:200px;
}

#group_left li {
  height: 33px; 
  line-height: 33px;
  padding: 5px 0 0 15px;
}

#group_left li:hover {
  background: #eee;
}

a.action {
  float: right;
  padding-right: 5px;
}

#group_buttons {
  display: none;
}

#group_custom_holder {
  display:none;
}

#newgroup {
  width: 80%;
  border: none;
  padding: 5px;
  margin-left:20px;
}

